/* Navbar.css */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    font-size: 28px;
    
  }
  .logo:hover{
    font-size:30px;
  }
  .comp {
    display: flex;
    list-style: none;
  }
  
  .comp li {
    margin: 0 1rem;
    position: relative;
  }
  
  .comp li.active a {
    color: green; /* Change the color of the active link */
  }
  
  .comp li.active .line-home,
  .comp li.active .line-aboutus,
  .comp li.active .line-portfolio,
  .comp li.active .line-skill,
  .comp li.active .line-blogs,
  .comp li.active .line-contact {
    width: 100%; /* Adjust the underline to indicate active state */
  }
  
  .line-home,
  .line-aboutus,
  .line-portfolio,
  .line-skill,
  .line-blogs,
  .line-contact {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: green;
    transition: width 0.3s;
  }
  
  .comp li:hover .line-home,
  .comp li:hover .line-aboutus,
  .comp li:hover .line-portfolio,
  .comp li:hover .line-skill,
  .comp li:hover .line-blogs,
  .comp li:hover .line-contact {
    width: 100%;
  }

  .green-T{
    color:#0A994C;
  }