* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    /*background-color: #0A1128; /* Add background color if needed */
    padding: 0 20px;
}

.logo {
    color: rgb(208, 213, 218);
    font-size: 30px;
}

.green {
    color: #0A994C;
}

.components {
    display: flex;
    list-style: none;
    font-size: 20px;
    color: rgb(205, 213, 220);
    gap: 40px;
}

.components a {
    color: inherit;
    text-decoration: none;
}

.components a:hover {
    color: #0A994C; /* Add hover effect if needed */
}
