.tech-h{
    color:#0A994C ;
    font-size: 35px;
    margin-top: 0px;
}

.line-tech{
    border-top: 1px solid #0A994C ;
    width:30px;
    margin-top: 25px;
}

.box-t{
    display:flex;
    flex-direction: row;
}

.html-b{
    height:70px;
    width:70px;
    border:1px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.html-b:hover{
    height:75px;
    width:80px;
    border:1px solid goldenrod;
}

.html{
    
    margin-top: 8px;
   margin-left: 10px;
    color:red;
    font-size:50px;

}

.css-b{
    height:70px;
    width:70px;
    border:1px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.css-b:hover{
 height:75px;
    width:80px;
    border:1px solid goldenrod;
}

.css{
    
    margin-top: 8px;
   margin-left: 10px;
    color:cyan;
    font-size:50px;

}

.js-b{
    height:70px;
    width:70px;
    border:1px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.js-b:hover{
    height:75px;
    width:80px;
    border:1px solid goldenrod;
}

.js{
    
    margin-top: 8px;
   margin-left: 10px;
    color:orange;
    font-size:50px;

}

.go-b{
    height:70px;
    width:70px;
    border:1px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.go-b:hover{
    height:75px;
    width:80px;
    border:1px solid goldenrod;
}

.go{   
    margin-top: 8px;
   margin-left: 10px;
    color:cyan;
    font-size:50px;

}

.react-b{
    height:70px;
    width:70px;
    border:1px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.react-b:hover{
    
        height:75px;
        width:80px;
        border:1px solid goldenrod;
}

.react{
    
    margin-top: 8px;
   margin-left: 10px;
    color:cyan;
    font-size:50px;

}

.tailwind-b{
    height:70px;
    width:70px;
    border:1px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.tailwind-b:hover{
    height:75px;
    width:80px;
    border:1px solid goldenrod;

}

.tailwind{
    
    margin-top: 8px;
   margin-left: 10px;
    color:rgb(47, 47, 188);
    font-size:50px;

}


.python-b{
    height:70px;
    width:70px;
    border:1px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.python-b:hover{
    height:75px;
width:80px;
border:1px solid goldenrod;
}


.python{
    
    margin-top: 8px;
   margin-left: 10px;
    color:rgb(211, 227, 27);
    font-size:50px;

}

.cpp-b{
    height:70px;
    width:70px;
    border:2px solid black;
    background-color: black;
    border-radius: 10px;
  
}

.cpp-b:hover{
    height:75px;
    width:80px;
    border:1px solid goldenrod;
}

.cpp{
    
   margin-top: 8px;
   margin-left: 10px;
    color:rgb(98, 24, 130);
    font-size:50px;

}

.components-h{
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    gap:50px;
    margin-left: 280px;
}

.lines-long{

    width:1000px;
    border-top: 1px solid rgb(54, 47, 47);
    margin-left: 200px;
    margin-right: 30px;
    margin-top: 200px;
    margin-bottom: 100px;

}

