/* Default to dark theme */
:root {
    --background-color: #000;
    --text-color: #f0f0f0;
    --navbar-bg: #444;
    --button-bg: #555;
    --button-text: #eee;
    --gradient-background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  }
  
  [data-theme='light'] {
    --background-color: #fff;
    --text-color: #000;
    --navbar-bg: #f0f0f0;
    --button-bg: #007bff;
    --button-text: #fff;
    --gradient-background: radial-gradient(125% 125% at 50% 10%, #63e 40%, #fff 100%);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  button {
    background-color: var(--button-bg);
    color: var(--button-text);
  }
  
  .container {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .fixed-background {
    background: var(--gradient-background);
  }
  